body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #4f46e5, #22c55e);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

/* SECTION */
section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
}

/* áº¢NH */
.banner {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* VIDEO */
video {
    width: 100%;
    border-radius: 10px;
}
