body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

/* HEADER */
.top {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 30px;
    background: #111827;
    color: white;
}

/* LOGO */
.logo {
    width: 50px;
}

/* SECTION */
section {
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

/* áº¢NH */
.banner {
    width: 100%;
    border-radius: 10px;
}

/* VIDEO */
video {
    width: 100%;
    border-radius: 10px;
}
